<html>

    <head>
        <link rel="stylesheet" type="text/css" href="../stylesheets/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
            <h1> Zachary Abbett </h1>
        </header>
        <nav>
            <hr width="50%" />
            <a href="index.html">Home</a>
            <b href="about.html">About</b>
            <a href="contact.html">Contact</a>
        </nav>
        
        <br /><br />
        
        <div id="content">
            <table>
                <tr id="table-header">
                    <td><strong>Programming Language</strong></td>
                    <td><strong>Years Experience</strong></td>
                </tr>
                <tr class="table-row">
                    <td>C#</td>
                    <td>6</td>
                </tr>
                <tr class="table-row">
                    <td>C++</td>
                    <td>6</td>
                </tr>
                <tr class="table-row">
                    <td>C</td>
                    <td>4</td>
                </tr>
                <tr class="table-row">
                    <td>HTML/CSS</td>
                    <td>3</td>
                </tr>
                <tr class="table-row">
                    <td>Java</td>
                    <td>3</td>
                </tr>
                <tr class="table-row">
                    <td>MySQL</td>
                    <td>1</td>
                </tr>
            </table>
        </div>
        
        <ul>
            <li><span class="hobby">Video games</span>: I love playing all sorts of games but my favorites are
            puzzle games and MMOs. I also have a soft spot for RPGs and MMORPGs with great atmosphere!</li>
            <li><span class="hobby">Game development</span>: I have made several small games on my own and in teams throughout college.
            I am currently involved in a larger personal project called The Rogue Planet.</li>

        </ul>     
        <footer>
            <hr>
        </footer>       
    </body>
</html>