<html>

    <head>
        <link rel="stylesheet" type="text/css" href="../stylesheets/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
            <h1> Zachary Abbett </h1>
        </header>
        <nav>
            <hr width="50%" />
            <b href="index.html">Home</b>
            <a href="about.html">About</a>
            <a href="contact.html">Contact</a>
        </nav>
        
        <br /><br />
        
        <main>
            <figure id="me">
                <img src="../images/me.png" alt="Picture of Zachary" />
            </figure>
            
            <div id="welcomeText">
                Hello! <br />
                <p>Thank you for visiting my professional porfolio website.</p>
                
                <p>I am a graduate of California State University, Monterey Bay.</p>
                <p>I received a bachelor's degree in computer science in December 2021, with a focus in game development.</p>
                <p>I am currently seeking and open to work as a game programmer across many disciplines or software engineer!</p>

                
                <p>Feel free to contact me!</p>
                
                <br /><br />
                
                <em>"With ordinary talent and extraordinary
                <strong>perserverance</strong>, all things are attainable"</em><br />
                - Thomas F. Buxton
            </div>
        </main>

        <footer>
            <hr>
        </footer>
        
    </body>
</html>